################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/copyToData.bat
/doc
/LPRF/.vs
/packages
/PUC_Signal_Test.exe
/SealerInspector/.vs
/SealerInspector/obj
/SealerInspector/Tools/Camera2D
/SealerInspector/Tools/Device/GoogleDrive/GoogleDrive.cs
